{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col col-lg-6 col-12">
        <div class="container">
            <br><br>
            <h1>{{ post.title }}</h1>
            <br>
            {% if post.published_date %}
                {{post.published_date}}
            {% else %}
                <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                <br><br>
            {% endif %}
            <img src="{{ post.profile_pic.url }}" class="img-thumbnail" alt="Sorry">
        </div>
    </div>
    <div class="col col-lg-6 col-12">
        <div class="container">
            <br><br><br><br><br>
            <p>{{ post.text|safe|linebreaksbr }}</p>
    
            {% if user.is_authenticated %}
                <a class="btn custom-button" href="{% url 'post_edit' pk=post.pk %}"><Span class="fa fa-pencil"></Span>    Edit</a>
                <a class="btn custom-button danger" href="{% url 'post_remove' pk=post.pk %}"><Span class="fa fa-remove"></Span>    Delete</a>
            {% endif %}  
            <br><br><br> 
        </div> 
    </div>
</div>

{% endblock %}